
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.navbar {
    background-color: white;
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    font-family: 'Papyrus', cursive;
    
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    padding: 1rem;
 
}

.navbar ul li a:hover {
    border-bottom: 3px solid #f30000;
    /*background: #00ADF3;*/
}

.logo {
    font-family: 'Papyrus', cursive;
    font-size: 2rem;
    color:red;
}

#color-text {
    color: #81c922c0;
}

.card{
    justify-content: center;
    margin-left: 200px;
    border: 3px solid black;
    /* float: left; */
    height: 650px;
    margin-top: 100px;
    
    
}

.row{
    float: left;
}
.one{
    justify-content: center;
    margin: 20px;
    border: 3px solid black;
    /* float: left; */
    height: 500px;
    margin-left: 70px;
}


.cards-p {
    font-size: 1rem;
    margin: 10 auto;
    padding-bottom: 1.6rem;
    display:flex;
    text-align: center;
}

.cards {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 1.3rem;
    border: 1.5px solid #c2bdc7;
    margin:30px;
    margin-left: 50px;
    float: left;
    height: 400px;
    width: 300px;
  
}

.cards:hover {
    border: 3px solid #c55665;
}

#contact{
    float: left;
    margin: 20px;
    padding:0;

    
}
